body {
  background-image: url("../imgs/bg-registration-form-7.jpg");
  background-size: cover;
  font-family: "Montserrat";
}

::placeholder {
  color: #0d9ad76b;
  text-transform: capitalize;
  font-size: 15px;
}

/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../webfonts/montserrat-v18-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../webfonts/montserrat-v18-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../webfonts/montserrat-v18-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../webfonts/montserrat-v18-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../webfonts/montserrat-v18-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../webfonts/montserrat-v18-latin-regular.svg#Montserrat")
      format("svg"); /* Legacy iOS */
}
/* montserrat-600 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../webfonts/montserrat-v18-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../webfonts/montserrat-v18-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../webfonts/montserrat-v18-latin-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../webfonts/montserrat-v18-latin-600.woff")
      format("woff"),
    /* Modern Browsers */ url("../webfonts/montserrat-v18-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../webfonts/montserrat-v18-latin-600.svg#Montserrat") format("svg"); /* Legacy iOS */
}

.container {
  width: 660px;
  height: 620px;
  background-color: #39459b;
  margin: auto;
  border: 10px solid #0d99d7;
}

.container .heading {
  color: #fff;
  text-align: center;
  font-size: 45px;
  font-family: "Montserrat";
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.container p {
  width: 80%;
  text-align: center;
  margin: auto;
  color: #fff;
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 50px;
}

.container form {
  margin: 20px auto;
  text-align: center;
}

.container form label {
  margin-bottom: 60px;
  display: block;
}

.container form label input {
  width: 80%;
  height: 40px;
  border: 0;
  outline: none;
  color: #fff;
  background-color: #39459b;
  border-bottom: 1px solid #0d99d7;
}

.container form label input:focus,
.container form label input:hover {
  background-color: #39459b;
  border-bottom: 1px solid #0d99d7;
}

.submit {
  width: 20%;
  height: 40px;
  margin-top: -50px;
  background: none;
  outline: none;
  border: 0.5px solid #fff;
  border-radius: 2px;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 88;
  display: inline-block;
  position: relative;
}

.submit:hover {
  border: 0;
  border-radius: 2px;
}

.submit::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #0d99d7;
  z-index: -1;
  transition: width 0.5s;
}

.submit:hover:after {
  width: 100%;
}
